:root {
  --dark: rgb(114, 107, 107);
  --light: rgb(189, 178, 178);
  --backgroundColor: rgb(82, 82, 134);
  --border: 3px;
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

* {
  /* box-sizing: border-box; */
}
header {
  justify-content: center;
  text-align: center;
  /* margin: 10px; */
  /* padding: 45px; */
  /* background-color: var(--light); */
}

.aboutus-container {
  user-select: none;
  margin: 20px auto;
  background: #d3cdaf;
  color: #b3b8cd;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}
.cover-photo {
  background: url("/assets/img/card_background.jpg") no-repeat center center
    fixed;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 1px solid #d1cce7;
  padding: 7px;
  background: #b4add4;
}
.profile-name {
  font-size: 25px;
  font-weight: bold;
  margin: 27px 0 0 120px;
  color: saddlebrown;
  font-weight: bolder;
  font-family: Montserrat, sans-serif;
}
.about {
  margin-top: 35px;
  line-height: 21px;
  color: saddlebrown;
  font-weight: bolder;
  font-family: Montserrat, sans-serif;
}

.msg-btn {
  margin: 10px 0 40px 0;
}

.msg-btn,
.follow-btn {
  background: #03bfbc;
  border: 1px solid #03bfbc;
  padding: 10px 25px;
  color: #231e39;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.follow-btn {
  margin-left: 10px;
  background: transparent;
  color: #02899c;
}
.follow-btn:hover {
  color: #231e39;
  background: #03bfbc;
  transition: 0.5s;
}

nav {
  width: 100%;
}

ul {
  list-style-type: none;
  font-weight: bold;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dark);
  background-image: url(./img/bodyback.jpg);
  background-position: center;
  background-size: cover;
}

.bilboard {
  text-align: center;
  font-weight: 900;
  /* height: 420px;
  max-width: 99%;
  background-image: url(https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260) ; */
}

.bilboard_header {
  font-size: 60px;
  color: #231e39;
}

.workh2 {
  color: #231e39;
  font-weight: 400;
}

.about_me {
  text-align: center;
  background: var(--light);
}

.about_me img {
  max-width: 95%;
}

p {
  /* display: flex; */
  /* text-align: center; */
  font-weight: 400;
  font-family: sans-serif;
  /* font-weight: 300; */
  line-height: 1.42;
}
ul {
  text-align: center;
}

h2 {
  font-size: larger;
}

h3 {
  display: block;
  background-color: var(--light);
}

.cardStack {
  /* text-align: center; */
  /* padding: 10px;
  padding-top: 50px;
  padding-bottom: 80px; */
  /* display: block; */
  /* align-items:  */
  /* justify-content: center; */
}
#cards {
  padding-bottom: calc(
    var(--numcards) * var(--card-top-offset)
  ); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(
    --card-margin
  ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */ selector(
          #cards
        )
        start 1,
      /* End when the start edge touches the start of the scrollport */
        selector(#cards) start 0;
    start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
    end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(
      var(--reverse-index) - 1
    ); /* 0-based reverse index */
  }

  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}

/** PAGE STYLING **/

* {
  /* Poor Man's Reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: rgb(58 29 43); */
  color: rgb(255, 255, 255);
  text-align: center;

  font-size: calc(1em + 0.5vw);
}

header,
main {
  width: 80vw;
  margin: 0 auto;
}

header {
  height: 100vh;
  display: grid;
  place-items: center;
}

#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}

.card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #d3cdaf;
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;

  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;

  display: grid;
  gap: 1em;
  place-items: start;
}

.card__content > figure {
  grid-area: img;
  overflow: hidden;
}

.card__content > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 300;
  font-size: 3.5em;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

.btn {
  background: rgb(188 87 36);
  color: rgb(255 255 255);
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
}

aside {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
}

aside p {
  margin-bottom: 1em;
}
.card {
  padding: 10px;
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
}

.card1 {
  background-image: url("./img/fantom-img.png");
  background-repeat: no-repeat;
  background-position: center;
}

div {
  text-align: center;
}

.paper {
  color: #007bff;
}

/* a {
  background-color: var(--light);
  padding: 4px;
  font-weight: bolder;
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
/* 
.code {
  background-image: url(./img/Fantom-img.png);
  background-size: cover;
  align-items: center;
  background-position: ;
} */

/* .art {
  background-image: url(./img/Pocket\ t.jpg);
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
} */

/* .city {
  background-image: url(./img/codequiz.png);
  background-size: cover;
  background-position: center;
} */

.hash {
  /* background-image: url(./img/passgen.png);
  background-size: cover; */
  background-color: rgb(233, 121, 143);
}

.font {
  color: black;
  font-weight: 500;
  font-size: large;
}

.future {
  background-color: rgb(155, 109, 155);
}

.cardBox {
  background-color: var(--light);
}

.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
}

@media only screen and (min-width: 768px) {
  .cardStack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    flex: 1 1 45%;
  }
  .focus {
    flex: 2 1 100%;
  }
  header {
    display: flex;
  }
}
